//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

// $base-font-size: 15px;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$base-font-size: 0.7rem;
$line-height-base: 1.6;

$fa-font-path: "../fonts/" !default;
